
@{
    ViewData["Title"] = "Aboutus";
}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/style.css">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EE79F0;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" style="color:white" href="~/Home/Index">Home</a>
            </div>
            <meta name="viewport" content="width=device-width" />
        </div>
    </nav>
    <div class="jumbotron text-center" style="background-color: #7FC8FF;">
        <img src="~/lib/image/CJs Stuff.jpg" class="text-md-center" width="230" height="200" />
        <h1 style="color:blue; font-family: sans-serif"><br /><u>About Us</u></h1>
    </div>
        <body>
    
        </body>
</head>

</html>
